[submodule "kernelci.org/themes/docsy"]
	path = kernelci.org/themes/docsy
	url = https://github.com/google/docsy.git
[submodule "kernelci.org/external/kernelci-core"]
	path = kernelci.org/external/kernelci-core
	url = https://github.com/kernelci/kernelci-core.git
[submodule "kernelci.org/external/kernelci-api"]
	path = kernelci.org/external/kernelci-api
	url = https://github.com/kernelci/kernelci-api.git
[submodule "kernelci.org/external/kcidb"]
	path = kernelci.org/external/kcidb
	url = https://github.com/kernelci/kcidb.git
[submodule "kernelci.org/external/kernelci-pipeline"]
	path = kernelci.org/external/kernelci-pipeline
	url = https://github.com/kernelci/kernelci-pipeline.git
[submodule "kernelci.org/external/kci-dev"]
	path = kernelci.org/external/kci-dev
	url = https://github.com/kernelci/kci-dev
