.gitattributes !filter !diff
secrets/** filter=git-crypt diff=git-crypt
secrets/dump.py !filter !diff
kernelci.org/content/en/blog/news/2020/08/19/kernelci-blog.png filter=lfs diff=lfs merge=lfs -text
kernelci.org/content/en/blog/posts/2020/05/11/featured-image-blog2.png filter=lfs diff=lfs merge=lfs -text
kernelci.org/content/en/blog/posts/2020/07/09/ci-system-usage-1024px.png filter=lfs diff=lfs merge=lfs -text
kernelci.org/content/en/blog/posts/2020/07/09/kernelci-community-survey-report-1200x325-1.png filter=lfs diff=lfs merge=lfs -text
kernelci.org/content/en/blog/posts/2020/07/09/reporting-1024px.png filter=lfs diff=lfs merge=lfs -text
kernelci.org/content/en/blog/posts/2020/07/09/response-time-1024px.png filter=lfs diff=lfs merge=lfs -text
kernelci.org/content/en/blog/posts/2020/07/09/roles-distribution-1024px.png filter=lfs diff=lfs merge=lfs -text
kernelci.org/content/en/blog/posts/2020/07/09/upstream-contributions-1024px.png filter=lfs diff=lfs merge=lfs -text
kernelci.org/content/en/blog/posts/2020/08/21/patched_revision2.png filter=lfs diff=lfs merge=lfs -text
kernelci.org/content/en/blog/posts/2020/08/21/revision1.png filter=lfs diff=lfs merge=lfs -text
kernelci.org/content/en/blog/posts/2020/08/21/kcidb_object_relations.svg filter=lfs diff=lfs merge=lfs -text
kernelci.org/content/en/blog/posts/2020/08/21/kcidb_object_submitting.gif filter=lfs diff=lfs merge=lfs -text
kernelci.org/content/en/blog/posts/2021/03/16/looking-back-looking-forward.png filter=lfs diff=lfs merge=lfs -text
