static/favicons/favicon.ico filter=lfs diff=lfs merge=lfs -text
static/favicons/android-144x144.png filter=lfs diff=lfs merge=lfs -text
static/favicons/android-36x36.png filter=lfs diff=lfs merge=lfs -text
static/favicons/android-72x72.png filter=lfs diff=lfs merge=lfs -text
static/favicons/android-96x96.png filter=lfs diff=lfs merge=lfs -text
static/favicons/favicon-16x16.png filter=lfs diff=lfs merge=lfs -text
static/favicons/favicon-256.png filter=lfs diff=lfs merge=lfs -text
static/favicons/favicon-32x32.png filter=lfs diff=lfs merge=lfs -text
static/favicons/android-192x192.png filter=lfs diff=lfs merge=lfs -text
static/favicons/android-48x48.png filter=lfs diff=lfs merge=lfs -text
static/favicons/favicon-1024.png filter=lfs diff=lfs merge=lfs -text
assets/icons/logo.png filter=lfs diff=lfs merge=lfs -text
content/en/background.jpeg filter=lfs diff=lfs merge=lfs -text
content/en/about/background.jpeg filter=lfs diff=lfs merge=lfs -text
static/image/kernelci-bigger-picture.png filter=lfs diff=lfs merge=lfs -text
static/files/KernelCI_Participation_Agreement_and_Funding_Charter_20180913.pdf filter=lfs diff=lfs merge=lfs -text
static/files/KernelCI_Project_Technical_Charter_20181107.pdf filter=lfs diff=lfs merge=lfs -text
content/en/logo/files/kernelci-logo-color.png filter=lfs diff=lfs merge=lfs -text
content/en/logo/files/kernelci-logo-color.svg filter=lfs diff=lfs merge=lfs -text
content/en/logo/files/kernelci-logo-white.svg filter=lfs diff=lfs merge=lfs -text
content/en/logo/files/kernelci-logo-black.svg filter=lfs diff=lfs merge=lfs -text
content/en/logo/background.jpeg filter=lfs diff=lfs merge=lfs -text
content/en/logo/kernelci_brand.pdf filter=lfs diff=lfs merge=lfs -text
content/en/logo/kernelci_brand.svg filter=lfs diff=lfs merge=lfs -text
static/image/kernelci-architecture.png filter=lfs diff=lfs merge=lfs -text
