---
title: About KernelCI
linkTitle: About
menu: main
---


{{< blocks/cover title="About KernelCI" image_anchor="bottom" height="min" >}}
{{< /blocks/cover >}}

{{< blocks/lead color="primary" >}}

<div class="row">
  <h3>
    KernelCI is a community-based open source distributed test automation system
    focused on upstream kernel development
  </h3>
</div>

{{< /blocks/lead >}}

{{< blocks/section color="dark" >}}

<div class="row">
  <p>
    The primary goal of KernelCI is to use an open testing philosophy to ensure
    the quality, stability and long-term maintenance of the Linux kernel.
  </p>
  <p>
    The Project is currently working on improved LTS kernel testing and
    validation; consolidation of existing testing initiatives; quality-of-life
    improvements to the current service; expanded compute resources; and
    increased pool of hardware to be tested.
  </p>
  <p>
    The Linux kernel is developed by a large, collaborative open source
    community working together to continuously improve the software. Conversely,
    Linux kernel testing has often fragmented since it is largely done in
    private silos with little collaboration on the testing software or
    methodologies. Because Linux runs on more hardware than any other operating
    system, it’s important to test it on the most hardware possible. KernelCI
    standardizes hardware testing for the Linux kernel across the broadest
    possible hardware.
  </p>
  <p>
    KernelCI was originally started in 2014 as a side project by a few engineers
    who were doing the testing at home and in their spare time. A variety of
    hardware labs contributed to the work over time, but until now there was no
    sustainable structure in place for open governance and contribution, or
    expanded access for the developers to hardware. Today, under the Linux
    Foundation, companies and individuals can contribute to expanding testing
    and integration across more hardware than ever before.
  </p>
  <p>
    Navigate the documentation website to view the project's
    <a href="/docs/org/">mission statement</a> and
    <a href="/docs/org/members">member organizations</a>.
    Visit our logo page to find our
    <a href="/docs/org/branding">brand guidelines</a>.
  </p>
</div>

{{< /blocks/section >}}

{{< blocks/section color="white">}}

<div class="col text-center">
  <h3>
    Please get in touch and take part in shaping the future of test-driven
    kernel development
  </h3>
</div>

{{< /blocks/section >}}

{{< blocks/section color="white">}}

{{% blocks/feature icon="fa-paper-plane" title="Mailing list" url="https://lore.kernel.org/kernelci/" %}}
Send an email to <a href="mailto:kernelci@lists.linux.dev">kernelci@lists.linux.dev</a>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-comment-dots" title="IRC" %}}
<span style="font-family: mono">#kernelci</span> on libera.chat
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-linux" title="Linux Foundation" url="https://foundation.kernelci.org/" %}}
KernelCI is a Linux Foundation project.
{{% /blocks/feature %}}
{{< /blocks/section >}}

{{< blocks/section color="secondary" >}}

<div class="col">
  <h1 class="text-center">Retrospective</h1>

  <h2>Founders</h2>
  <p>
    The KernelCI project was started in 2014 by:
  </p>
  <ul>
    <li>Tyler Baker</li>
    <li>Alan Bennett</li>
    <li>Milo Casagrande</li>
    <li>Kevin Hilman</li>
  </ul>

  <h2>Board donations</h2>
  <p>
    We are thankful to the individuals and organisations who have donated
    hardware in the past to various test labs with the purpose of increasing
    KernelCI's coverage.  Here's a non-exhaustive list:
  </p>
  <ul class="row">
    <li class="col-sm-3 col-md-2">Altera</li>
    <li class="col-sm-3 col-md-2">Atmel</li>
    <li class="col-sm-3 col-md-2">Annapurna Labs</li>
    <li class="col-sm-3 col-md-2">ARM</li>
    <li class="col-sm-3 col-md-2">Broadcom</li>
    <li class="col-sm-3 col-md-2">Compulab</li>
    <li class="col-sm-3 col-md-2">EnergyMicro</li>
    <li class="col-sm-3 col-md-2">Freescale</li>
    <li class="col-sm-3 col-md-2">GlobalScale Technologies</li>
    <li class="col-sm-3 col-md-2">Google</li>
    <li class="col-sm-3 col-md-2">Gumstix</li>
    <li class="col-sm-3 col-md-2">Hewlett Packard Enterprise</li>
    <li class="col-sm-3 col-md-2">MediaTek</li>
    <li class="col-sm-3 col-md-2">Next Thing</li>
    <li class="col-sm-3 col-md-2">Nvidia</li>
    <li class="col-sm-3 col-md-2">OpenBlocks</li>
    <li class="col-sm-3 col-md-2">Pine64</li>
    <li class="col-sm-3 col-md-2">Renesas</li>
    <li class="col-sm-3 col-md-2">Rockchip</li>
    <li class="col-sm-3 col-md-2">Sony Mobile</li>
    <li class="col-sm-3 col-md-2">Qualcomm</li>
    <li class="col-sm-3 col-md-2">ST</li>
    <li class="col-sm-3 col-md-2">TI</li>
    <li class="col-sm-3 col-md-2">Toradex</li>
    <li class="col-sm-3 col-md-2">Xilinx</li>
  </ul>
</div>

{{< /blocks/section >}}
